body {
    background-color: rgb(0, 153, 173);
}
  
  p {
    font-weight: bold;
  }
  
  p {
    font-size: 1.4rem;
    color: black;
    font-family: Arial;
  }
  {
  width: px;
  box-sizing: border-box;
}